<div class="row">
<div class="col-md-8 col-md-offset-1  col-xs-12 ">

<div class="container" *ngIf="listQuestion" >
    <!--div class="row">
    <div class ="container col-md-8 col-md-offset-2  col-xs-12">
      <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50"
          aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="((time*10)/100)*100 + '%'">
            <span class="sr-only">70% Complete</span>
          </div>
        </div>
    </div>
    </div-->

    <div class="row">
        <div class="container  col-md-8 col-md-offset-2  col-xs-12 " id="infogame">
            <div class="container  col-md-3 col-xs-6 text-primary info">
              Pontos: {{score}}
              <!--span class="glyphicon glyphicon-usd"></span--> 
            </div>

            <div class="container  col-md-3 col-xs-6 info text-primary info">
              Pergunta: {{idQuestion}} /{{listQuestion.length}}
            </div>
            

            <div class="container  col-md-3 col-xs-6 info text-primary info">
              Categoria: {{gameCategory}}
            </div>

            <div class="container  col-md-3 col-xs-6 info text-primary info">
              Modo: {{convertMode(gameMode)}}
            </div>
              <!--div class="container  col-md-2 text-primary">
                  <span class="glyphicon glyphicon-question-sign"></span>
              </div-->
        </div>
    </div>


    <div class="row">
      <div class="container  col-md-2 col-md-offset-5  col-xs-12 " 
      [hidden]="hideTimer()"
      id="contrarelogio"
      >
        <img src="..\assets\img\alarm.png" width="36" />   
        {{time2}}s
    </div>
  </div>

  <div class="row">
    <div class ="container col-md-8 col-md-offset-2  col-xs-12 " [hidden]="hideprogressbar()">
      <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20"
          aria-valuemin="0" aria-valuemax="20" style="min-width: 2em;" [style.width]="(time/20)*100 + '%'">
            {{timeShow}}
          </div>
        </div>
    </div>
    </div>

    <div class="row">
      <div class="container container-question col-md-8 col-md-offset-2  col-xs-12">
        <div class="question" *ngIf="!question.image"> {{question.question}}</div>
        <div  *ngIf="question.image">



          <p class="text-game-img col-md-8 col-md-offset-2">{{question.question}}</p>
          <div class="text-info" data-toggle="modal" [attr.data-target]="'#tesst'" >
           
        
          <div class="container-img col-md-4 col-md-offset-4 ">
            <img src="{{ url + 'get-image-qa/' + question.image }}"  alt="game-image" class="img-responsive img-question"/>
          </div>
        </div>
      </div>


    
      <div class="modal fade" [attr.id]="'tesst'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
               
                    <div class="container-img col-md-12 ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        <img src="{{ url + 'get-image-qa/' + question.image }}"  alt="game-image" class="img-responsive img-question"/>
                      </div>
                    <!--div *ngIf="info.type=='img'" class="modal-body">
                                <img src="{{ url + 'get-img-feedinfo/' + info.file}}" class="img-modal" alt="Responsive image">
                    </div>

                    <div *ngIf="info.type=='video'" class="modal-body">
                        <iframe class="embed-responsive-item" [src]="info.file | safe"  class="video-modal" allowfullscreen></iframe>
   
                    </div!-->
                  
                   
                  </div>
                </div>
      </div>


      </div>
    </div>

    <!--div class="row" *ngIf="question.image">
      <div class="container container-img col-md-8 col-md-offset-2  col-xs-12">
       
          <img src="{{ url + 'get-image-qa/' + question.image }}" alt="game-image" class="img-responsive img-question "/>
      </div>
    </div-->

    <div class="row">
    <div class="container col-md-8 col-md-offset-2 col-xs-12" >
        
        <div >
        <div class="btn-group-vertical btngroup">
          <!--[class.btn-danger] = "answers[0] == getCorrectAnswer()"-->
            <button type="button" class="btn  btn-info btnOption"
              (click) = "checkAnswer(option0)"
              attr.textValue= "{{answers[0] }}"
              #option0
              > 
                {{answers[0] }} 
            </button>

            <button type="button" class="btn btn-info  btnOption"
                (click) = "checkAnswer(option1)"
                attr.textValue= "{{answers[1] }}"
                #option1
            >
                 {{answers[1] }}
            </button>
            
            
            <button type="button" class="btn  btn-info btnOption"
              (click) = "checkAnswer(option2)"
              attr.textValue= "{{answers[2] }}"
              #option2
            > 
                {{answers[2] }}
            </button>


            <button type="button" class="btn btn-info btnOption"
            (click) = "checkAnswer(option3)"
            attr.textValue= "{{answers[3] }}"
            #option3
            >
                 {{answers[3] }}
            </button>
          </div>  


    </div>
  </div>
  </div>

</div>
</div>
</div>




