.btnOption{
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #67A1F8;*/
    color: white;

   
}

.btngroup{
    width: 100%;
    
}

.question{
   
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100px;
    background-color: #F5F5F5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-question{
   
    background-color: #F5F5F5;
   
   
}

.info{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}

#contrarelogio{

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#infogame{
    margin-bottom: 10px;
   
}

#gameare{
    background-color: LightGray;
}

.container-img{
  /*  max-width: 300px;*/
    max-height: 300px;
    text-align: center;
   
    /*width: auto;
    height: auto;*/
}

.img-question{
    margin: auto;
}
.text-game-img{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/*.container-img{
    height: auto;
    width: 60px;
}*/

.text-info{
    font-size: 11px; 
    text-align: center; 
    padding: 5px;
    cursor: pointer;
}