<div class="register-page col-md-12">  


  <div class="container col-md-4 col-md-offset-4" [@animation-register] ="stateRegister">
    <div class="register"  [style.height.px]="height">
      <p class="title-register"> {{title}}</p> 

      <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completo com sucesso, clique
        <a [routerLink]="['/login']"> aqui </a> para ir ao login. 
      </div>

      <div class="alert alert-danger" *ngIf="status == 'error'">
        Não foi possivel realizar o registro email ou username está em uso!
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error_captcha'">
        Não foi possivel realizar o registro, erro no captcha !
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
       
          <div class="form-group  has-success has-feedback"
            [ngClass]="{'has-error ': !first_name.valid && first_name.touched}">

            <input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" 
                    placeholder="Nome" class="form-control " required 
                    [ngClass]="{'border-error ': !first_name.valid && first_name.touched }"
                   />
              
              <span *ngIf="!first_name.valid && first_name.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
              <span *ngIf="first_name.valid && first_name.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
              
          </div>

          <div class="form-group  has-success has-feedback"
              [ngClass]="{'has-error ': !last_name.valid && last_name.touched}">

            <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="user.last_name" 
              placeholder="Apelido" class="form-control"
              required  [ngClass]="{'border-error ': !last_name.valid && last_name.touched }" />
              <span *ngIf="!last_name.valid && last_name.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
              <span *ngIf="last_name.valid && last_name.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
              
          </div>


          <div class="form-group  has-success has-feedback"
              [ngClass]="{'has-error ': !username.valid && username.touched}">
              <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Nick" class="form-control"  required  [ngClass]="{'border-error ': !username.valid && username.touched }" />
              <span *ngIf="!username.valid && username.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
              <span *ngIf="username.valid && username.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
          </div>

          <div class="form-group  has-success has-feedback"
            [ngClass]="{'has-error ': !email.valid && email.touched}">

            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" class="form-control" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   [ngClass]="{'border-error ': !email.valid && email.touched }" />
              <span *ngIf="!email.valid && email.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
              <span *ngIf="email.valid && email.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        
          <div class="form-group  has-success has-feedback"
            [ngClass]="{'has-error ': !password.valid && password.touched}">

          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" class="form-control"
            required [ngClass]="{'border-error ': !password.valid && password.touched }" />
            <span *ngIf="!password.valid && password.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
            <span *ngIf="password.valid && password.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
        
        </div>
 
         <div class="captcha"> 
            <re-captcha (resolved)="resolved($event)" siteKey="6LefTVsUAAAAAGFifGuHGZIqhSJAhcjFK805ycDu"></re-captcha>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">{{title}}</button>
           </div>

         <div class="text-center link-back">
          <a  > 
               <span class="  glyphicon glyphicon-chevron-left"></span>
          </a>
           </div>

      </form>

      </div>
      </div>

    </div>