

        <div className="container timeline-body col-md-12">

           
            <div className="timeline">

               
                <div className="line text-muted"></div>

               
                <article className="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div className="panel-heading icon">
                        <i className="glyphicon glyphicon-plus-sign"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div className="panel-body">
                        <strong>Pedro Tavares</strong> começou a seguir-te.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article  className="panel panel-default panel-outline">

                    <!-- Icon -->
                    <div className="panel-heading icon">
                        <!--i className="glyphicon glyphicon-picture"></i-->
                        <img className="icon img-responsive img-rounded" src="..\assets\icon\historia.png" 
                        />
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div className="panel-body">
                        <!--img className="img-responsive img-rounded" src="//placehold.it/350x150" /-->
                        <div className="image-user pull-left">
                            <a>
                              <img className="icon img-responsive img-rounded" src="assets/user.png" className="avatar-default" 
                                />
                            </a>
                        </div>


                        <div className="publication-body pull-left">

                            <div>
                                <a  classNameName="user-name" >
                                    Helder Correia
                                </a>
                                &nbsp;| &nbsp;
                                <span className="date ">
                                   há nove dias 
                                </span>
                                <a className="btn btn-info btn-xs" >
                                    <!--span className="glyphicon glyphicon-play-circle"></span-->
                                    Jogar
                                </a>

                                <a className="btn btn-warning btn-xs" >
                                    <!--span className="glyphicon glyphicon-play-circle"></span-->
                                    Duelo
                                </a>

                            </div>
                            <h6 className="publication-text pull-left ">
                               publication.text
                            </h6>

                        </div>
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
               

                <!-- Separator -->
                <div className="separator text-muted">
                    <time>25. 3. 2015</time>
                </div>
                <!-- /Separator -->




                <div className="col-lg-12 text-center" >
                    <p>
                        <button className="btn btn-success btn-xs" (click)="viewMore()" >
                            Ver mais publicações
                        </button>
                    </p>
            
                </div>

            </div>
            <!-- /Timeline -->
           

        </div>

       
    

    