<div class="col-lg-8 ">
    <h2 class="h1-strong" *ngIf="user"> {{title}} {{user.name}}</h2>
    <div class="people" *ngIf="following">
      <!--lista de users-->
      <div *ngFor ="let follow of following" class="item-user">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="image-user pull-left">
                  <a href="#">
                    <img src="{{ url + 'get-image-user/' + follow.followed.image }}" *ngIf="follow.followed.image"/>
                    <img src="assets/user.png" class="avatar-default" *ngIf="!follow.followed.image"/>
                  </a>
              </div>
              <div class="user-name pull-left">
                <a [routerLink]="['/perfil', follow.followed._id]" class="name-surname">
                    {{follow.followed.name + ' '+ follow.followed.surname}}
                </a>
              </div>
            <!-- segui e não seguir-->
            <div class="pull-right" *ngIf="follow.followed._id != identity._id">
              <button class="btn btn-success" *ngIf="follows.indexOf(follow.followed._id) < 0"
              (click)="followUser(follow.followed._id)"> 
                  <span class="glyphicon glyphicon-plus-sign"></span> 
                  seguir
              </button>
  
              <!--button class="btn btn-default"> 
                  <span class="glyphicon glyphicon-ok-sign"></span> 
                  Seguindo
                </button-->
  
              <button class="btn btn-primary" *ngIf="follows.indexOf(follow.followed._id) >= 0"
                (mouseenter) = "mouseEnter(follow.followed._id)"
                (mouseleave) = "mouseLeave(follow.followed._id)"
                (click) = "unFollowUser(follow.followed._id)"
                [class.btn-danger]="follow.followed._id == followUserOver"
                > 
                
                <span *ngIf="follow.followed._id == followUserOver; else following">
                    <span class="glyphicon glyphicon-minus-sign"></span> 
                    deixar de seguir
                  </span>
  
                <ng-template #following>
                    <span class="glyphicon glyphicon-ok-sign"></span> 
                      Seguindo
                </ng-template>
  
                
              </button>
            </div>
          </div>
        </div>
      </div> 
      
      



       <!--paginação-->
         <ul class=" pagination pull-right">
            <li *ngIf=" page > 1">
              <a [routerLink]="['/seguindo', userPageId, prev_page]">Anterior</a>
  
            </li> 
  
            <li *ngIf=" pages != page">
                <a [routerLink]="['/seguindo', userPageId, next_page]">Seguinte</a>
            </li> 
         
  
  
         </ul>
    </div>
  
  </div>
  
  <sidebar></sidebar>
  <div class="clearfix">
  </div>