.container-list-question{
    background-color: rgba(199, 197, 197, 0.315);
    padding: 10px;
}

.item-list-question{
    padding: 5px;
    margin-bottom: 3px;
}
.list-question-title{
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(97, 96, 96);
}

.item-list-question a {
    cursor: pointer;
    text-decoration: none;
}

.new-question, .evaluate-question {
    margin-top: 10px;
     
}