.item{
    display: inline-table;
}

.btn-ranking{
    height: 42px;
    border: 1px;
    cursor: pointer;
}

.btn-ranking {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-ranking:hover {
    background-color: #67A1F8; 
    color: white;
}

.filter{
    text-align:center;
    font-size:20px; 
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
  }

  .ranking-head{
    margin-top: 5px;
    margin-bottom: 5px;
    
  }