<div class="panel panel-default col-md-6 col-md-offset-3">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <!--div class="panel-body">
    <p>...</p>
  </div-->
    <div>
      <div >
       <ul class="nav nav-tabs ">
         <li class="filter"> <span  class="glyphicon glyphicon-filter"> </span></li>
          <li> <button id="1" type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="total"
            class=" btn-ranking active"
            [ngClass]="{active: isActive=='total'}"
            >Total
          </button> 
        </li>

          <li> <button id="2" type="button" class="btn btn-link" 
                      (click)="getButtonValue($event)" 
                      value="history"
                      class="btn-ranking"
                      [ngClass]="{active: isActive=='history'}"
                >História
                </button> 
          </li>

          <li> <button type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="geography"
            class="btn-ranking"
            [ngClass]="{active: isActive=='geography'}"
            >Geografia
            </button> 
          </li>


          <li> <button type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="sport"
            class="btn-ranking"
            [ngClass]="{active: isActive=='sport'}"
            >Desporto
            </button> 
          </li>

          <li> <button type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="art"
            class="btn-ranking"
            [ngClass]="{active: isActive=='art'}"
            >Arte
            </button> 
          </li>


          <li> <button type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="tour"
            class="btn-ranking"
            [ngClass]="{active: isActive=='tour'}"
            >Tour
            </button> 
          </li>



          <li> <button type="button" class="btn btn-link" 
            (click)="getButtonValue($event)" 
            value="random"
            class="btn-ranking"
            [ngClass]="{active: isActive=='random'}"
            >Aleatorio
            </button> 
          </li>
          
       </ul>
      </div> 

       



      <!--ul class="nav nav-tabs">
          <li class="active"><a href="#">Home</a></li>
          <li> <button type="button" class="btn btn-link">Link</button> </li>
          <li><a href="#">Menu 2</a></li>
          <li><a href="#">Menu 3</a></li>
        </ul-->
          

      <!--ul class="test">
        <li class="item">
          <button (click)="getButtonValue($event)" value="history">História</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="geography">Geografia</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="sport">Desporto</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="art">Arte</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="tour">Tour</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="random">Aleatorio</button>
        </li>

        <li class="item">
          <button (click)="getButtonValue($event)" value="total">Total</button>
        </li>
      </ul-->
    </div>

</div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Jogador</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gameSingle of gameSingles; let i = index" [attr.data-index]="i"  >
        <td>{{i+1}}</td> 
        <td>{{gameSingle.user.name}}  {{gameSingle.user.surname}} </td>
        <td>{{gameSingle.score}}</td>
      </tr>

    </tbody>
  </table>
</div>