<div class="container wrapper " >
		

<div class="container col-md-6 col-md-offset-3    col-xs-12"  id="menu" [@animation-register] ="stateCategory">

<div class="login-logo-div-img text-center">
    <img src="../../../assets/img/logo.png" alt="logo cv quiz">
</div>
  <h3 class="headMenu"> Modos de jogo</h3> 
  
  <div class=" btn-group-vertical col-md-8 col-md-offset-2    col-xs-12">
     
    <button class="btn  btn-xs custom "  
        *ngFor="let cat of categories"
        (click) = "playGame(btn)"
        attr.catName= "{{cat.value}}"
        #btn
    > 
          {{cat.name}} 
          
        </button>
    </div>

	
</div>

</div>





