.game-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 420px;
    margin:  20px auto 0 auto;
    background-color: whitesmoke;
    
   
   
/* 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: whitesmoke;
    */

    .logo-container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
       text-align: center;
       margin-top: 20px;
       margin-bottom: 20px;

       .logo, {
        max-width: 130px;
        max-height:  130px;
        margin: auto;
        }

      
    }

   
    .btn-category-container{
        border: 1px solid rgba(51, 146, 209, 0.438);
        margin: 15px;
        
    }
}