
.wrapper {    
	margin-top: 40px;
}

  .custom {
   
    margin: 10px 0px 10px 0px;
    background-color: #67A1F8;
    text-align: center;  
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    color: white;
    border-radius: 0 !important;
}

#menu{

 padding: 10px 10px 10px 10px;
  background-color: #eee;
  
}



.headMenu{
    text-align:center;
    margin-bottom: 15px;
  }

  .login-logo-div{
    margin-top: 20px;
    padding: 10px;
   
    
}
.login-logo-div-img img{
    width: 130px;
    height: 130px;
}