<div class="col-lg-4 ">
    <h3 class=""> {{title}}</h3>
    <div class="sidebar-admin">
      <ul class="nav nav-pills nav-stacked nav-pills-stacked-example ">
          <li role ="presentation" [routerLinkActive]="['active']">
              <a [routerLink]="['enviar']">Enviar mensagens</a>
            </li>

        <li role ="presentation">
          <a [routerLink]="['recebidos']"  [routerLinkActive]="['active']">Mensagens recebidos</a>
        </li>

        <li role ="presentation">
            <a [routerLink]="['enviados']" [routerLinkActive]="['active']" >Mensagens enviados</a>
          </li>

          <li role ="presentation">
              <a [routerLink]="['/home']" [routerLinkActive]="['active']">Mensagens informações</a>
            </li>
      </ul>
    </div>
</div>

<div class="col-lg-8">

  <!-- Componentes-->
  <router-outlet></router-outlet>
</div>