<div class="col-lg-8 ">
  <h2 class="h1-strong"> {{title}}</h2>
  <div id="data-profile"  *ngIf ="user">
    <div class="avatar pull-left">
      <img src="{{ url + 'get-image-user/' + user.image}}" *ngIf ="user && user.image"/>
      <img src="assets/user.png" class="avatar-default" *ngIf="!user || !user.image"/>
    </div>

    <div class="user-name pull-left">
      <div class="label label-default  pull-left" *ngIf="followed">
            Segui-te
      </div>
      <div class="clearfix"></div>

      <div class="pull-left">
          <p class="name">{{user.name +' '+ user.surname}}</p>
          <p class="nick">{{user.nick}}</p>
          <p class="nick">Nível 1</p>

          <div class="clearfix"></div>

          <div *ngIf="user._id != identity._id" class="follow pull-left">
            <button class="btn btn-success btn-xs "
                     *ngIf="!following"
                      (click)="followUser(user._id)">
                     
                Seguir
            </button>
            
            <button class="btn btn-primary btn-xs " 
                      *ngIf="following" 
                      (click)="unFollowUser(user._id)"
                      (mouseenter)="mouseEnter(user._id)"
                      (mouseleave)="mouseLeave()"
                      [class.btn-danger] = "user._id == followUserOver">
                      <span *ngIf="user._id == followUserOver; else following">
                        Deixar de Seguir
                      </span>
                      <ng-template #following>
                        Seguindo
                      </ng-template>
            </button>

         </div>
      </div>
    </div>


    <div class="stats pull-left" *ngIf="stats"> 
        <div class="following-data">
          <a [routerLink]="['/seguindo', user._id,1]" >
            <span class="label-stats">
              Seguindo
            </span>
    
            <span class="number-stats">
              {{stats.following}}
              
            </span>
          </a>
        </div>
    
        <div class="following-data">
          <a [routerLink]="['/seguidores', user._id,1]">
            <span class="label-stats">
              Seguidores
            </span>
    
            <span class="number-stats">
              {{stats.followed}}
            </span>
          </a>
        </div>
    
        <div id="div-publication"class="following-data">
          <a href="#">
            <span class="label-stats">
              Jogos
            </span>
    
            <span class="number-stats">
              {{stats.publications}}
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-12 publications" *ngIf="user">
          <publications [user]="user._id"></publications>
      </div>
  </div>
</div>

<div class="col-md-4">
  <awards></awards> 
  <!--create-questions></create-questions-->
</div>