.list-group-item{
   
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}


.item-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .item-user-image-name{
        display: flex;
        flex-direction: row; 
        align-items: center;
    }
    .image-user{
        width:55px;
        height: 55px;
        border-radius: 100px;
        overflow: hidden;
        margin-right: 15px; 
    }
    .image-user img {
        height: auto;
        width: 55px;
    }
    .item-user-btn{
      .btn{
          margin-left: 10px;
      } 
    }

    .name-surname {
        color: #555;
        font-weight: bold;
        font-size: 13px;
    }

}


.navigation .avatar{
    width:28px;
    height: 28px; 
    border-radius: 100px;
    overflow: hidden;
    
}

.navigation .avatar img{
    height: auto;
    width: 30px;
    margin-top: -10px;
}

