<div class="login-page col-md-12">


    <div class="login-logo-div col-md-offset-1 col-md-4 text-center " [@animation-logo] ="stateLogo">
        <div class="login-logo-div-img text-center">
            <img src="../../../assets/img/logo.png" alt="logo cv quiz">
        </div>
             
        <p>
                Testa bu kunhisimentu sobri nôs téra
        </p>

    </div>


    <div class="container  col-md-offset-3 col-md-4 " [@animation-login] ="stateLogin">
    <div class="login">
      
        <p class="title-login"> {{title}}</p>


    <div class="alert alert-success" *ngIf="status == 'success'">
        Login efectuado com sucesso. Bem vindo ao CVQuiz.
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Não foi possivel fazer login, email ou password incorrecto!
        </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="">

            <div class="form-group  has-success has-feedback"
                [ngClass]="{'has-error ': !email.valid && email.touched}">
            
            <input type="email" name="email" #email="ngModel" placeholder="Email ou Username " [(ngModel)] = "user.username" 
                class="form-control" required  [ngClass]="{'border-error ': !email.valid && email.touched }" />
                <span *ngIf="!email.valid && email.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="email.valid && email.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
                <!--input type="email" name="email" #email="ngModel" placeholder="Email or Username " [(ngModel)] = "user.username" 
                class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{'border-error ': !email.valid && email.touched }" />
                <span *ngIf="!email.valid && email.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="email.valid && email.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span-->
        
            </div>

            <div class="form-group  has-success has-feedback"
            [ngClass]="{'has-error ': !password.valid && password.touched}">
           
            <input type="password" name="password" #password="ngModel"   placeholder="Password" [(ngModel)] = "user.password" 
                class="form-control" required [ngClass]="{'border-error ': !password.valid && password.touched }" />
                <span *ngIf="!password.valid && password.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="password.valid && password.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
        
            </div>


            <div class="text-center forget-password">
                <a > Esqueceste-te da tua conta? </a>
            </div>

            <div class="text-center">
                <button type="submit"  class="btn btn-default btn-login" [disabled]="!loginForm.form.valid">{{title}}</button>
            </div>
            <div class="text-center">
                   ou
                </div>

            <div class="text-center">
                <button  class="btn  btn-login-rsocias btn-facebook"></button> 
                <button  class="btn  btn-login-rsocias btn-google"></button> 
            </div>   
            
    


    </form>
    

    </div>
    </div>



</div>
