#publications{
    min-height: 500px;
}

.item-publication .image-user{
    width:55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px; 
}

.item-publication .image-user img {
  
    width: 60px;
}
.user-name{
    margin-top: 10px;
}

#publications .date{
   color: gray;
  
}

.publication-text{
    font-size: 14px; 
}