<div class="col-md-12 " *ngIf="users">
  <!--h2 class="h1-strong"> {{title}}</h2-->
  <div class="people">
      <div class="form-group has-feedback">
        <label for="search" class="sr-only">Pesquisar amigos</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="Procurar pessoas..." 
         (keyup)="search($event)" (keyup.enter)="search($event)">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>

    <!--lista de users-->
    <div  *ngFor ="let user of users" class="item-user">
        <div class="panel panel-default list-user">
          <div class="panel-body">
            <div class="image-user pull-left">
                <a href="#">
                  <img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image"/>
                  <img src="assets/user.png" class="avatar-default" *ngIf="!user.image"/>
                </a>
            </div>
            <div class="user-name pull-left">
              <a [routerLink]="['/perfil', user._id]" class="name-surname">
                  {{user.name + ' '+ user.surname}}
              </a>
            </div>
          <!-- segui e não seguir-->
          <div class="pull-right" *ngIf="user._id != identity._id">
              
            <button class="btn btn-success btn-xs" *ngIf="follows.indexOf(user._id) < 0"
            (click)="followUser(user._id)"> 
                <span class="glyphicon glyphicon-plus-sign"></span> 
                
            </button>

            <!--button class="btn btn-default"> 
                <span class="glyphicon glyphicon-ok-sign"></span> 
                Seguindo
              </button-->

            <button class="btn btn-primary btn-xs" *ngIf="follows.indexOf(user._id) >= 0"
              (mouseenter) = "mouseEnter(user._id)"
              (mouseleave) = "mouseLeave(user._id)"
              (click) = "unFollowUser(user._id)"
              [class.btn-danger]="user._id == followUserOver"
              > 
              
              <span *ngIf="user._id == followUserOver; else following">
                  <span class="glyphicon glyphicon-minus-sign "></span> 
                  
                </span>

              <ng-template #following>
                  <span class="glyphicon glyphicon-ok-sign"></span> 
                    
              </ng-template>

            </button>

            <a class="btn btn-warning btn-xs" (click)="chanlenge(publication._id)">
                <!--span class="glyphicon glyphicon-play-circle"></span-->
                Duelo
            </a>
          </div>
        </div>
      </div>
    </div> 
     <!--paginação-->
       <ul class=" pagination pull-right">
          <li *ngIf=" page > 1">
            <button class="btn btn-default btn-xs" [routerLink]="['/users', prev_page]">Anterior</button>

          </li> 

          <li *ngIf=" pages != page">
              <button class="btn btn-default btn-xs" [routerLink]="['/users', next_page]">Seguinte</button>
          </li> 
       
       </ul>
  </div>

</div>
 <!--
<sidebar></sidebar>
<div class="clearfix">
</div>
-->