
<div class="container col-md-12  ">

  <div class="row">
    <div class=" panel panel-default  panel-body text-center col-md-6 col-md-offset-3 ">
      Qualquer utilizador pode sugerir perguntas, Estas serão avaliados pela comunidade.  
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-4 container-list-question">
        <div *ngIf="questions" class="list-question-title">Minhas Perguntas</div>
             
                <div *ngFor="let question_ of questions" class=" panel panel-default item-list-question">
                 <a routerLink="/user-question/edit/{{question_._id}}"> {{question_.question}} </a>
                </div>
           
                <!--div class=" panel panel-default item-list-question ">
                    <a>  Em que ano é que cabo verde começou a ser povoado? </a>
                </div>
          
                <div class=" panel panel-default  item-list-question ">
                    <a>Quando Francis Drake atacou Ribeira Grande?</a>
                </div>
           
                <div class=" panel panel-default  item-list-question ">
                    <a> Quem foi o presidente da república de cabo verde em 2003?</a>
                </div-->
           
  </div>
     

  <div class="col-md-6 col-md-offset-1">
    <div  class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" [routerLinkActive] = "['active']" (click)="changeStatusTrue()">
              <img src="..\assets\img\new-question.png" width="25" />
              Criar Pergunta
          </button>
        </div>
       
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" (click)="changeStatusFalse()">
              <img src="..\assets\img\validation-icon.ico" width="25" />
            Avaliar Pergunta</button>
        </div>
      </div> 

      <div *ngIf="create; else templateEvaluate" class="new-question" >
        <create-questions></create-questions>
      </div>  
      
      <ng-template #templateEvaluate>
        <div class="evaluate-question" >
          <evaluate-question></evaluate-question>
        </div>  
      </ng-template>

    


     
    
    



    </div>

   
      
  </div>

</div>