
  
  <div class="col-md-12 create-questions-div"> 
    <form id="inseri-question" [formGroup]="form" (ngSubmit)="sendQuestion()" >
      <div class="form-horizontal col-md-12 fromdetail" *ngIf="question">
    
        <div class="form-group " [ngClass]="aplicaCssErro('question')">
          <label class="control-label col-sm-2" >Pergunta:</label>
          <div class="col-sm-10">
            <textarea type="text"  formControlName="question" class="form-control" rows="2"id="pergunta" placeholder="Inseri a pergunta"></textarea>
              <app-campo-control-erro
              [mostrarErro]="!form.get('question').valid && form.get('question').touched"
              msgErro="Pergunta é obrigatório.">
            </app-campo-control-erro>
          </div>
        </div>
    
        <br/>
    
        <div class="form-group has-success has-feedback">
          <label class="col-sm-2 control-label" for="inputSuccess">Opção correta</label>
          <div class="col-sm-10">
            <input type="text"   formControlName="answer1" class="form-control" id="inputSuccess" placeholder="Inseri a opção correta">
              <app-campo-control-erro
              [mostrarErro]="verificaValidTouched('answer1')"
              msgErro="Este Campo é obrigatório.">
              </app-campo-control-erro>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        </div>
    
    
    
        <div class="form-group has-error has-feedback">
          <label class="col-sm-2 control-label" for="inputError">Opção</label>
          <div class="col-sm-10">
            <input type="text"  formControlName="answer2" class="form-control" id="inputError1" placeholder="Inseri a opção 1">
            <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('answer2')"
            msgErro="Este Campo é obrigatório.">
            </app-campo-control-erro>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>
    
    
        <div class="form-group has-error has-feedback">
          <label class="col-sm-2 control-label" for="inputError">Opção</label>
          <div class="col-sm-10">
            <input type="text"  formControlName="answer3" class="form-control" id="inputError2" placeholder="Inseri a opção 2">
            <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('answer3')"
            msgErro="Este Campo é obrigatório.">
            </app-campo-control-erro>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>
    
        <div class="form-group has-error has-feedback">
          <label class="col-sm-2 control-label" for="inputError">Opção</label>
          <div class="col-sm-10">
            <input type="text"  formControlName="answer4" class="form-control" id="inputError3" placeholder="Inseri a opção 3">
            <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('answer4')"
            msgErro="Este Campo é obrigatório.">
            </app-campo-control-erro>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>


        <div class="form-group" *ngIf="category=='tour'">
          <label class="col-sm-2 control-label" for="inputError">Imagem</label>
          <div class="col-sm-10">
            <input type="file"  formControlName="image" class="form-control" id="input-image" placeholder="Enviar imagem" (change)="onFileChange($event)">
            <!--span class="glyphicon glyphicon-remove "></span-->
          </div>
          
        </div>


      
    
        <div class="row">
          
          <!--div class="col-md-2">
            <label for="sel1">Categoria:</label>
          </div-->
          <div class="form-group">
            <div class="col-md-3 col-md-offset-1">
              <select class="form-control"  formControlName="select"  id="sel1"  >~
                <!--option value="test" selected disabled hidden>Choose here</option-->
                <option selected value="history" >História</option>
                <option value="geography">Geografia</option>
                <option value="sport">Desporto</option>
                <option value="art">Arte</option>
                <option value="social">Entretenimento</option>
                <option value="tour">Tour</option>
                
              </select>
            </div>
    
            <div class="col-md-6 form-horizontal col-md-offset-2">
              <div class="form-group">
                <div class=" col-md-4 col-sm-10">
                  <button type="submit" class="btn btn-primary" 
                  >Enviar</button>
                </div>

                <div class=" col-md-4  col-sm-10">
                  <button  class="btn btn-danger" 
                    (click) = "reset()"
                  >Cancelar</button>
                </div>

              </div>

            
            

            </div>
          </div>
        </div>
    
      </div>
    </form>
</div>