
<div class="col-md-12 awards">
  
    <div class="panel-body panel-awards">

        <div class="statistic-title"> Estatísticas </div>
        
            <ul class="statistic-body classic"> 
                <li>
                    <div class="col-md-9 item-text "> Resposta corretas </div>
                    <div class="col-md-3 item-value">3</div>
                </li>

                <li>
                    <div class="col-md-9 item-text"> Resposta incorretas </div>
                    <div class="col-md-3 item-value">3</div>
                </li>

                <li>
                    <div class="col-md-9 item-text"> Total perguntas </div>
                    <div class="col-md-3 item-value">6</div>
                </li>

                <li>
                        <div class="col-md-9 item-text"> Total Jogos </div>
                        <div class="col-md-3 item-value">5</div>
                </li>

                <li>
                        <div class="col-md-9 item-text"> Melhor jogo </div>
                        <div class="col-md-3 item-value">300pts</div>
                </li>

            </ul>
            
            
            
            <div class="statistic-title"> Contrarelógio </div>
        
            <ul class="statistic-body timed"> 
                <li>
                    <div class="col-md-9 item-text"> Melhor jogo </div>
                    <div class="col-md-3 item-value">300pts</div>
                    <div class="col-md-9 item-text "> Tempo </div>
                    <div class="col-md-3 item-value">00:05:00</div>
                </li>
            </ul>

            <div class="statistic-title"> Multiplayer </div>
        
            <ul class="statistic-body multiplayer"> 
                <li>
                        <div class="col-md-9 item-text"> Total Jogos </div>
                        <div class="col-md-3 item-value">5</div>
                </li>

                <li>
                        <div class="col-md-9 item-text"> Vitórias </div>
                        <div class="col-md-3 item-value">0</div>

                </li>

                <li>
                        <div class="col-md-9 item-text "> Derrotas </div>
                        <div class="col-md-3 item-value">0</div>
                </li>

                <li>
  
                    <div class="col-md-9 item-text "> Empate </div>
                    <div class="col-md-3 item-value">0</div>
                </li>
            </ul>
    
    
        </div>
 </div>   
