.register-page{
    background-color: rgb(51, 147, 209);
    margin-top: -20px;
    min-height: 100vh;
}

.register{
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    height: 600px;
  
}
.captcha{
    margin: 10px 0 10px 20px;
    
}

.register input{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px ridge  rgb(168, 169, 170);
    margin-bottom: 20px; 
   
}

.title-register{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px 50px 20px;
}


.link-back{
 margin: 30px 10px; 
}
.link-back a {
    font-size:200%;
    color: rgba(192, 197, 201, 0.76);
    text-decoration: none;
   
}

.border-error{
    border-bottom: 1px ridge tomato !important;
}

.border-success{
    border-bottom: 1px ridge rgb(69, 196, 69) !important;
}

input{
    background-color: whitesmoke;
}
