
<!--div class="fromdetail col-md-6 col-md-offset-1" *ngIf="question">
  <h4>
     Id: {{question._id}}
  </h4>

  <p class="text-primary">Pergunta: {{question.question}}</p>
  <p class="text-success">Resposta 1: {{question.answers[0]}}</p>
  <p class="text-danger">Resposta 2: {{question.answers[1]}}</p>
  <p class="text-danger">Resposta 3: {{question.answers[2]}}</p>
  <p class="text-danger">Resposta 4: {{question.answers[3]}}</p>

  <button type="button" class="btn btn-warning" (click)="editarQuestion()">
    Editar
</button>


<button type="button" class="btn btn-danger" (click)="deleteQuestion()">
    Eliminar
</button>


</div-->

<div class="fromdetail col-md-10 col-md-offset-1" *ngIf="question">
  <h4>
     Categoria: História
  </h4>

  <p class="text-primary">Pergunta: {{question.question}}</p>
  <p class="text-success">Resposta 1: {{question.answers[0]}}</p>
  <p class="text-danger">Resposta 2: {{question.answers[1]}}</p>
  <p class="text-danger">Resposta 3: {{question.answers[2]}}</p>
  <p class="text-danger">Resposta 4: {{question.answers[3]}}</p>

  <div class="fromdetail col-md-3 col-md-offset-1" >
    <button class="btn " (click)="nextQuestion()"> 
        <img src="..\assets\img\gosto.png" width="26" />
      </button>   
  </div> 

  <div class="fromdetail col-md-3 col-md-offset-1 " >
    <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#exampleModal" > Reportar</button>
  </div>  

  <div class="fromdetail col-md-3 col-md-offset-1" >
    <button class="btn " (click)="nextQuestion()">
        <img src="..\assets\img\unlike.png" width="26" />
         </button> 
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center" id="exampleModalLabel">Reportar</h4>
        </div>
        <div class="modal-body">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="writtenError">
                <label class="form-check-label" for="writtenError">Erro de Escrita</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="contentError">
                <label class="form-check-label" for="contentError">Erro de Conteúdo</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="wrongAnswer">
                <label class="form-check-label" for="wrongAnswer">Resposta Errada</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="wrongCategory">
                <label class="form-check-label" for="wrongCategory">Categoria Errada</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="other">
                <label class="form-check-label" for="other">Outra</label>
            </div>

            <textarea class="form-control" rows="5" id="comment" placeholder="correção ou sugestão"></textarea>
            
             


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>

</div>


  
