<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/timeline']" [routerLinkActive] = "['active']"
               class="navbar-brand">{{title}}</a>
        </div>
        <ul class="nav navbar-nav" *ngIf="identity">
          <!--li>
            <a [routerLink]="['/home']" [routerLinkActive] = "['active']">
              <span class="glyphicon glyphicon-home"></span>
              Inicio
            </a>
          </li-->

          <li>
            <a [routerLink]="['/category']" [routerLinkActive] = "['active']">
              <!--span class="glyphicon glyphicon-th-list"></span-->
              <span class="glyphicon glyphicon-expand"></span>
              Jogar
              
            </a>
          </li>
         
          <li>
              <a [routerLink]="['/timeline']" [routerLinkActive] = "['active']">
                <!--span class="glyphicon glyphicon-th-list"></span-->
                <span class="glyphicon glyphicon-th-list"></span>
                Timeline
                <span class="badge badge-pill badge-timeline " >5</span>
              </a>
            </li>


            <li>
              <a [routerLink]="['/admin']" *ngIf="identity.role=='ROLE_ADMIN'" [routerLinkActive] = "['active']">
                  <span class="glyphicon glyphicon-cog"></span>
                  Admin
                </a>
              </li>
            <!--li>
              <a [routerLink]="['/users']" [routerLinkActive] = "['active']">
                  <span class="glyphicon glyphicon-user"></span>
                  Pessoas
                </a>
              </li-->
              
        </ul> 

        <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
            <li>
                <a [routerLink]="['/login']" [routerLinkActive] = "['active']">
                  <span class="glyphicon glyphicon-log-in"></span>
                  Login
                </a>
              </li>
  
              <li>
                  <a [routerLink]="['/register']" [routerLinkActive] = "['active']">
                    <span class="glyphicon glyphicon-user"></span>
                    Registar
                  </a>
                </li>
        
        </ul>

        <!--ul class="nav navbar-nav " *ngIf="identity">
        

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             Game <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                  <a [routerLink]="['/menu']">
                      <span class="glyphicon glyphicon-user"></span>
                   Menu
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/game-area']">
                      <span class="glyphicon glyphicon-cog"></span>
                    Jogo
                  </a>
              </li>

              <li>
                <a class="pointer" [routerLink]="['/sumare']"> 
                    <span class="glyphicon glyphicon-log-out"></span>
                 Resultado
                </a>
            </li>

            <li>
              <a class="pointer" [routerLink]="['/help']">
                  <span class="glyphicon glyphicon-log-out"></span>
               Info
              </a>
          </li>


              <li>
                  <a class="pointer" [routerLink]="['/ranking']">
                      <span class="glyphicon glyphicon-log-out"></span>
                   Ranking
                  </a>
              </li>
              

              <li>
                <a class="pointer" [routerLink]="['/setting']">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Setting
                </a>
            </li>

              <li>
                <a class="pointer" [routerLink]="['/help']">
                    <span class="glyphicon glyphicon-log-out"></span>
                 Info
                </a>
            </li>


            </ul>
          </li>

          
              
           </ul-->

           


        <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          <li>
              <a [routerLink]="['/mensagem']" [routerLinkActive] = "['active']">
                  <span class="glyphicon glyphicon-envelope"></span>
                  
                </a> 
          </li>

          <li >
            <!-- Load user image -->
            <a class="avatar" [routerLink]="['/perfil', identity._id]">
              <img src="{{ url + 'get-image-user/' + identity.image}}" *ngIf ="identity && identity.image"/>
              <img src="assets/user.png" class="avatar-default" *ngIf="!identity || !identity.image"/>
           </a>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{identity.name}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                  <a [routerLink]="['/perfil', identity._id]">
                      <span class="glyphicon glyphicon-user"></span>
                    Meu perfil
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/meus-dados']">
                      <span class="glyphicon glyphicon-briefcase"></span>
                    Meus dados
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/user-question']">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    Perguntas
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/setting']">
                      <span class="glyphicon glyphicon-cog"></span>
                    Definições
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/help']">
                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Ajuda
                  </a>
              </li>

              <li>
                  <a [routerLink]="['/info']">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    Info
                  </a>
              </li>

              

              <li>
                  <a class="pointer" (click) = "logout()">
                      <span class="glyphicon glyphicon-log-out"></span>
                   Sair
                  </a>
              </li>
            </ul>
          </li>
        </ul>


        
    </div>    
  </nav>

  <router-outlet></router-outlet>
</div>

