.btnOption{
  /*   margin: 10px 0px 10px 0px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #67A1F8;*/
    color: white;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    

   
}

.container-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    
}

.question{
   
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 150px;
    background-color: #F5F5F5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.container-question{
   
    background-color: #F5F5F5;
   
   
}

.info{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}

#contrarelogio{

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#infogame{
    margin-bottom: 10px;
   
}

#gameare{
    background-color: LightGray;
}

.container-img{
  /*  max-width: 300px;*/
    max-height: 300px;
    text-align: center;
   
    /*width: auto;
    height: auto;*/
}

.img-question{
    margin: auto;
}
.text-game-img{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/*.container-img{
    height: auto;
    width: 60px;
}*/

.text-info{
    font-size: 11px; 
    text-align: center; 
    padding: 5px;
    cursor: pointer;
}

.container-game-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
} 

.wrap-container{
    margin:20px auto;
    max-width: 960px;
 
}

.countdownMainContainer{

    display: flex;
    justify-content: center;
    align-items: 'center';
    font-size: 100px;
   
   
    

    .countdownContainer{
        
            width: 100px;
            height: 100vh;
         
    }
}

