.item-user .image-user{
    width:55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px; 
}

.item-user .image-user img {
    height: auto;
    width: 60px;
}


.item-user .user-name {
    margin-top: 20px;
}

.item-user .user-name .name-surname {
    color: #555;
    font-weight: bold;
}

.avatar-default{
    width: 100% !important;
}

.people{
    min-width: 500px;
}