<div class="container  col-md-6 col-md-offset-3 " >
  

<div id="menu" [@animation-category] ="stateResult">
<p class="headMenu">Resultado</p>

<!--div class="row"></div-->
<!--div class="container  text-info" id="scoremsg">
  A tua pontuação é {{score}}
</div-->

<div   class="container col-md-6  text-info btn-sumare" >
 <h4> Sumário </h4> 

 <div class="container  text-info ">
  Total  de perguntas {{currectAnswer + wrongAnswer}} 
</div>

 <div class="container  text-success ">
  Repostas correctas: {{currectAnswer}} 
</div>

<div class="container  text-danger " >
  Respostas erradas: {{wrongAnswer}} 
</div>
</div>

<div id="trophy" class="col-md-6   " >
 
  <!--img class="col-md-4 col-md-offset-4 col-xs-4 col-md-offset-4  "  src="..\assets\img\trophy2.png"-->
    <!-- You can now use it in app.component.html -->
    <circle-progress 
    [percent]="100"
    [radius]="60"
    [space]="-5"
    [title]="score" 
    [subtitle]="'pts'" 
    [outerStrokeWidth]="5"
    [outerStrokeColor]="'#4882c2'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]= "5"
    [animation]="true"
    [animateTitle]="true"
    [showUnits]="false"
    [animationDuration]="500"
    [responsive]="true"
    [titleFontSize]="'35'"
    [subtitleFontSize]="'17'"
    
    
    
    >
    
  </circle-progress>
  </div>
  

  <div class="col-md-6 col-md-offset-3">
      <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook "><i class="fa fa-facebook fa-2"></i> Partilhar no Facebook</button></a>

  </div>

  <div class=" col-md-8 col-md-offset-2  col-xs-6" id="btnoption">

      <div>
          <button type="button" class="btn btn-info btn-xs  col-md-2   btn-single col-xs-4"
          (click) = "router.navigate(['/gamearea'])"
          >Repetir</button>
        </div>

    <div>
        <button type="button" class="btn btn-info btn-xs col-md-3 col-xs-4 btn-single"
        (click) = "router.navigate(['/menu/category'])"
        >Categoria</button>
      </div>

      <div>
          <button type="button" class="btn btn-info btn-xs col-md-3   col-xs-4 btn-single"
          (click) = "router.navigate(['/timeline'])">Timeline</button>
        </div>

      <div>
          <button type="button" class="btn btn-info col-md-2 btn-xs col-xs-3 btn-single"
          (click) = "router.navigate(['/ranking'])"
          >Ranking</button>
        </div>
   

  </div>



  
</div>

</div>





