


#menu{
 
 padding: 10px;
  background-color: whitesmoke;
  margin-top: 40px;
  height: 370px;
  
 
}

.headMenu{
    text-align:center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0px 20px 0px;
  }

  #trophy{
      /*background-color: #A4C2F4;*/
      height: 150px;
      display: block;
  }

  #scoremsg{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-sumare{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btnoption{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 12px;
    
}
.btn-single{
    margin: 5px;
    
}


.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}


