// Colours
$grey: #ccc;
$copper: #ffa366;
$orange: #e84d40;
$blue:rgb(51, 147, 209);
$primary-color:rgb(51, 147, 209);

// Settings
$base-font-family:"Neutra-Display-Bold", Helvetica, sans-serif;
$base-font-family-alt: "Neutra-Display-Medium", Arial, sans-serif;
$base-font-size: 25px;
$base-line-height: 44px;
$base-icon-size : 28px;
$base-width: 1920px;
$base-mwidth: 375px;


// Theme
//@import "sass/_core/themes/_vanilla.scss";

// components
@import "js/components/Form/_form.scss";
@import "js/components/ListUser/_listUser.scss";
@import "js/components/Sidebarinfo/_sidebarInfo.scss";
@import "js/components/TimelinePublication/_timelinePublication.scss";
@import "js/components/Game/GameArea/_gameArea.scss";
@import "js/components/Game/Menu/_menu.scss";
@import "js/components/Game/Result/_result.scss";
// @import "js/components/AddQuestion/_addQuestion.scss";



// pages
@import "js/pages/login/_login.scss";
@import "js/pages/feed/_feed.scss";
