


  <!--div class="container-fluid wrapper " >
      
  
  <div class="container group-vertical "  id="menu">
    <h3 class="headMenu">Configurações</h3>
    
    <div class="row"> 
    <div class=" btn-group-vertical col-md-6 col-md-offset-4 col-xs-6 ">
        <h4>Modo de Jogo</h4>
        <div class="radio">
         <label><input type="radio" name="optradio" value="1"
          (change) = "classicBtn(classic)"
          [checked]="gameMode ==1"
          #classic
          >Clássico</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="optradio" value="2"
            (change) = "classicBtn(btn2)"
            [checked]="gameMode ==2"
            #btn2
            >Contrar-relógio</label>
         
       </div>

      <div class="radio">
        <label><input type="radio" name="optradio" value="3"
          (change) = "classicBtn(btn3)"
          [checked]="gameMode ==3"
          #btn3
          >10X</label>
       
      </div>

      <div class="radio">
          <label><input type="radio" name="optradio" value="4"
            (change) = "classicBtn(btn4)"
            [checked]="gameMode ==4"
            #btn4
            >20X</label>
      </div>
    </div>
  </div>



  <div class="row">
    <div class=" btn-group-vertical col-md-6 col-md-offset-4 col-xs-6 ">
        <h4>Estilo Contrar-relógio</h4>
        <div class="radio">
        <label><input type="radio" name="optradio1" value="0"
          (change) = "clickProgressBar(btn)"
          [checked]="progressbarCheckbox==0"
          #btn 
          >Relógio</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="optradio1" value="1"
            (change) = "clickProgressBar(btn1)"
            [checked]="progressbarCheckbox==1"
            #btn1
            >Barra Progresso</label>
      </div>
    </div>
    

</div>


  <div class="row">
    <div class=" btn-group-vertical col-md-6 col-md-offset-4 col-xs-6 ">
        <h4>Audio</h4>
        <div class="radio">
        <label><input type="radio" name="optradio">Música</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="optradio">Sons</label>
      </div>
    </div>
    

</div>
  </div>
  
  </div-->





  <div class="container  col-md-4 col-md-offset-4">

      <ul class="list-group ">
          <li class="list-group-item li-setting d-flex justify-content-between item-title align-items-center">
            Modo de Jogo
           
          </li>
          <li class="list-group-item  d-flex justify-content-between align-items-center">
              Clássico
              <div class=" pull-right btn-group btn-toggle"> 
                  <button class="btn btn-xs btn-default">ON</button>
                  <button class="btn btn-xs btn-primary active">OFF</button>
              </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Contrar-relógio
              <div class=" pull-right btn-group btn-toggle"> 
                  <button class="btn btn-xs btn-primary active">ON</button>
                  <button class="btn btn-xs btn-default  ">OFF</button>
              </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
              20X
              <div class=" pull-right btn-group btn-toggle"> 
                  <button class="btn btn-xs btn-default">ON</button>
                  <button class="btn btn-xs btn-primary active  ">OFF</button>
              </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              50X
              <div class=" pull-right btn-group btn-toggle"> 
                  <button class="btn btn-xs btn-default ">ON</button>
                  <button class="btn btn-xs btn-primary active  ">OFF</button>
              </div>
          </li>

          <li class="list-group-item li-setting d-flex justify-content-between item-title align-items-center">
              Estilo Contrar-relógio
             
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                Barra Progresso
                <div class=" pull-right btn-group btn-toggle"> 
                    <button class="btn btn-xs btn-primary active ">ON</button>
                    <button class="btn btn-xs btn-default  ">OFF</button>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Relógio
                <div class=" pull-right btn-group btn-toggle"> 
                    <button class="btn btn-xs btn-default ">ON</button>
                    <button class="btn btn-xs btn-primary active  ">OFF</button>
                </div>
            </li>
         
        </ul>
  </div>

  
  


