.progressbar-result{
    width: 30%;
    height: 30%;
  
    
}

.container-result-page{
    width:960px;
    height:90vh; 

    h2{
        text-align: center;
        color: #727272;
    }

    .main-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 420px;
        width: 100%;
        max-width: 600px;
       
        background-color: whitesmoke;
       
        
        .container-chart-text{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        .container-text{
            
        }

        h3{
            color: #727272;
            width: 100%; 
        }
        .total-answer{
            color: rgb(19, 185, 226);
        }
        .wrong-answer{
            color: tomato;
        }

        .correct-answer{
            color:rgb(60, 175, 95);
        }

        .share-on-facebook{
            width: 50%;
            margin: 0 auto;
        }

        .container-btn-option{
            display: flex;
            justify-content: space-evenly;
        }
    }
}
.container-center{
    display: flex;
    justify-content: center;
     align-items: center; 
    margin: auto;
  
   
}