.login-page{
    background-color:rgb(51, 147, 209);
    min-height: 100vh;
    padding-top: 40px;
}


.login{
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    padding-left:30px;
    box-shadow: 3px -5px #cecccc2d;
}

.login-title-div{
  p{
      color: white;
      margin-top: 20px
  }
}

.login-logo-div{
    margin-top: 20px;
    padding: 10px; 
   
}

.login-logo-div-img img{
    width: 150px;
    height: 150px;
}

.login-logo-div p{
    margin-top: 20px;
    color: white; 
    /*text-shadow: 3px 2px rgb(105, 109, 110);*/
    font-size: 20px;
}



//Tab login

.form{
    background-color: whitesmoke;
    max-width: 450px;
    padding: 20px;
    
    
        button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
    
        .nav-link ,.nav-link:hover{
            color: #495057;
            background-color:whitesmoke;
            border-top:0;
            border-left:0;
            border-right:0;
        }
    
        .nav-link.active{
            //border-color: $primary-color;
            border-color: rgb(51, 147, 209) !important;
            background-color:whitesmoke !important;;
            border-top:0;
            border-left:0;
            border-right:0;
    
        }
    
        input, input:active, input:focus{
            border:0;
        }
    }
    
    
    .form input{
        border: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px ridge  rgb(168, 169, 170);
        outline:0;
    }
    .form-input, .register-input{
        display: block;
        width: 100%;
        margin-top: 40px; 
        padding-bottom: 5px;
    }
    
    .register-input{
        margin-top: 25px; 
    }
    .title-login{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .forget-password{
        font-size: 12px;
        margin: 10px 0px 10px 0px ;
        cursor: pointer;
        
    }
    .btn-login{
       margin: 5px;
    }
    .btn-register{
    margin-top: 20px;
    }
    
    .btn-login-rsocias{
     
        margin: 10px;
        width: 25px;
        height: 25px;
        border: 0;
        background-size: 100%; /* To fill the dimensions of container (button), or */
    
    
    }
    
    
    .btn-facebook{
     
        //background-image:url('../../../assets/img/facebook.png') ;
    }
    
    .btn-google{
     
        //background-image:url('../../../assets/img/google.png') ;
    }
    
    
    .border-error{
        border-bottom: 1px ridge tomato !important;
    }
    
    .border-success{
        border-bottom: 1px ridge rgb(69, 196, 69) !important;
    }
    
    input{
        background-color: whitesmoke;
    }
    
    