.container-cvq{
    padding-bottom: 10px;
}

.feed-page{
    .container-followed{
        padding: 0px 15px;
    }

    .input-search{
        margin: 20px 0; 
    }

    .btns-menu{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;
        
        button{
            border: solid 1px #0000005e;
            margin:0px;
            padding:3px;
            border-radius:3px;
            img{
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }

        button:focus {outline:0;}
       
    }
}

.cvq-navbar{
    background-color:rgb(51, 147, 209);
}


























#publications{
    min-height: 500px;
}

.item-publication .image-user{
    width:55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px; 
}

.image-user img {
  
    width: 40px ;
    margin-right: 5px; 
}

.item-publication .image-user img {
  
    width: 60px;
}

.publication-body{
    margin-left: 10px;
}

.user-name{
    margin-top: 10px;
}

#publications .date{
   color: gray;
}

.ml{
    margin-left: 10px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.timeline-body{
    background-color: whitesmoke;
  
}

#button-menu{
    padding: 18px;
    padding-left: 8px;
    

}

.custom{ 
    margin: 5px 5px;
}










.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
   
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
   
}

.panel-heading{
    background-color: rgb(159, 200, 238);
}
.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

.publication-text{
   font-size: 14px;
  
}

.btn-xs{
    margin: 0;
    padding: 1px;
    font-size: 12px;
}

.btn-publication{
    margin-left:6px; 
    color: white!important; // remover depois
}


