
<div class="user-edit-page col-md-12">
  <div class="container col-md-4 col-md-offset-4" [@animation-register] ="stateUserEdit">
    <div class="user-edit">
    <p class="title-user-edit"> {{title}}</p>

    <div class="alert alert-success" *ngIf="status == 'success'">
      Os seus dados foram atualizados com sucesso!!.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
      Não foi possivel  atualizar os seus dados!
    </div>

  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">




    <div class="form-group  has-success has-feedback"
        [ngClass]="{'has-error ':  first_name && !first_name.valid && first_name.touched}">
        <label>Nome</label>
        <input type="text" name="first_name" #name="ngModel" [(ngModel)]="user.first_name" 
              placeholder="Nome" class="form-control " required 
              [ngClass]="{'border-error ': first_name && !first_name.valid && first_name.touched }"
            />
        
        <span *ngIf=" first_name && !first_name.valid && first_name.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
        <span *ngIf=" first_name && first_name.valid && first_name.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
      
  </div>



    <div class="form-group  has-success has-feedback"
                [ngClass]="{'has-error ': !last_name.valid && last_name.touched}">
              <label>Apelido</label>
              <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="user.last_name" 
                placeholder="Apelido" class="form-control"
                required  [ngClass]="{'border-error ': !last_name.valid && last_name.touched }" />
                <span *ngIf="!last_name.valid && last_name.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
                <span *ngIf="last_name.valid && last_name.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
                
    </div>



      <div class="form-group  has-success has-feedback"
        [ngClass]="{'has-error ': !username.valid && username.touched}">
        <label>Nick</label>
        <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Nick" class="form-control"  required  [ngClass]="{'border-error ': !username.valid && username.touched }" />
        <span *ngIf="!username.valid && username.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
        <span *ngIf="username.valid && username.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
      </div>


        <div class="form-group  has-success has-feedback"
        [ngClass]="{'has-error ': !email.valid && email.touched}">
          <label>Email</label>
          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" class="form-control" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   [ngClass]="{'border-error ': !email.valid && email.touched }" />
            <span *ngIf="!email.valid && email.touched" class=" margin-icone glyphicon glyphicon-remove form-control-feedback"></span>
            <span *ngIf="email.valid && email.touched " class=" margin-icone glyphicon glyphicon-ok form-control-feedback"></span>
        </div>


        <div class="avatar-edit" *ngIf="user.photo">
          <img src="{{url + 'get-image-user/' + user.image}}"/>
        </div>

        <p>
          <label>Enviar imagem</label>
          <input  class="form-control-file" type="file" placeholder="Enviar imagem" (change)="fileChangeEvent($event)"/>
        </p>
        <div class="btn-user-edit">
          <button type="submit"  value="{{title}}" class="btn btn-default" [disabled]="!userEditForm.form.valid">Atualizar</button>
        </div> 
  </form>

  <div class="text-center link-back">
      <a  [routerLink]="['/timeline']"> 
          <span class="  glyphicon glyphicon-chevron-left"></span>
      </a>
      </div>

  </div>


  </div>

</div>