.avatar-edit{
    width:65px;
    height: 65px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px; 
}

.avatar-edit img{
    height: auto;
    width: 68px;
}



.user-edit-page{
    background-color: rgb(51, 147, 209);
    margin-top: -20px;
    min-height: 100vh;
}

.user-edit{
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    max-height: 600px;
  
}


.user-edit input{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px ridge  rgb(168, 169, 170);
    margin-bottom: 20px; 
   
}

.title-user-edit{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 20px 20px;
}


.link-back{
 margin: 30px 10px; 
}
.link-back a {
    font-size:200%;
    color: rgba(192, 197, 201, 0.76);
    text-decoration: none;
   
}

.border-error{
    border-bottom: 1px ridge tomato !important;
}

.border-success{
    border-bottom: 1px ridge rgb(69, 196, 69) !important;
}

input{
    background-color: whitesmoke;
}

.btn-user-edit{
    text-align: center;
    margin-bottom: 10px;
}

