.list-group-item {
  border-left: 0;
  border-right: 0;
  padding: 10px 0; }

.item-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .item-user .item-user-image-name {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .item-user .image-user {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px; }
  .item-user .image-user img {
    height: auto;
    width: 55px; }
  .item-user .item-user-btn .btn {
    margin-left: 10px; }
  .item-user .name-surname {
    color: #555;
    font-weight: bold;
    font-size: 13px; }

.navigation .avatar {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  overflow: hidden; }

.navigation .avatar img {
  height: auto;
  width: 30px;
  margin-top: -10px; }

iframe {
  border: 0; }

.info {
  margin-bottom: 35px; }
  .info .info-text {
    text-align: center;
    font-size: 12px; }

.sidebar-info {
  background-color: whitesmoke;
  margin-top: 5px;
  padding: 20px; }
  .sidebar-info .info-image img {
    width: 100%;
    height: 100%; }

.btnOption {
  /*   margin: 10px 0px 10px 0px; */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #67A1F8;*/
  color: white;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  cursor: pointer; }

.container-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; }

.question {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 150px;
  background-color: #F5F5F5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; }

.container-question {
  background-color: #F5F5F5; }

.info {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

#contrarelogio {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

#infogame {
  margin-bottom: 10px; }

#gameare {
  background-color: LightGray; }

.container-img {
  /*  max-width: 300px;*/
  max-height: 300px;
  text-align: center;
  /*width: auto;
    height: auto;*/ }

.img-question {
  margin: auto; }

.text-game-img {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

/*.container-img{
    height: auto;
    width: 60px;
}*/
.text-info {
  font-size: 11px;
  text-align: center;
  padding: 5px;
  cursor: pointer; }

.container-game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.wrap-container {
  margin: 20px auto;
  max-width: 960px; }

.countdownMainContainer {
  display: flex;
  justify-content: center;
  align-items: 'center';
  font-size: 100px; }
  .countdownMainContainer .countdownContainer {
    width: 100px;
    height: 100vh; }

.game-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 420px;
  margin: 20px auto 0 auto;
  background-color: whitesmoke;
  /* 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: whitesmoke;
    */ }
  .game-area .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .game-area .logo-container .logo {
      max-width: 130px;
      max-height: 130px;
      margin: auto; }
  .game-area .btn-category-container {
    border: 1px solid rgba(51, 146, 209, 0.438);
    margin: 15px; }

.progressbar-result {
  width: 30%;
  height: 30%; }

.container-result-page {
  width: 960px;
  height: 90vh; }
  .container-result-page h2 {
    text-align: center;
    color: #727272; }
  .container-result-page .main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 420px;
    width: 100%;
    max-width: 600px;
    background-color: whitesmoke; }
    .container-result-page .main-wrap .container-chart-text {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
    .container-result-page .main-wrap h3 {
      color: #727272;
      width: 100%; }
    .container-result-page .main-wrap .total-answer {
      color: #13b9e2; }
    .container-result-page .main-wrap .wrong-answer {
      color: tomato; }
    .container-result-page .main-wrap .correct-answer {
      color: #3caf5f; }
    .container-result-page .main-wrap .share-on-facebook {
      width: 50%;
      margin: 0 auto; }
    .container-result-page .main-wrap .container-btn-option {
      display: flex;
      justify-content: space-evenly; }

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.login-page {
  background-color: #3393d1;
  min-height: 100vh;
  padding-top: 40px; }

.login {
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 3px -5px #cecccc2d; }

.login-title-div p {
  color: white;
  margin-top: 20px; }

.login-logo-div {
  margin-top: 20px;
  padding: 10px; }

.login-logo-div-img img {
  width: 150px;
  height: 150px; }

.login-logo-div p {
  margin-top: 20px;
  color: white;
  /*text-shadow: 3px 2px rgb(105, 109, 110);*/
  font-size: 20px; }

.form {
  background-color: whitesmoke;
  max-width: 450px;
  padding: 20px; }
  .form button {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .form .nav-link, .form .nav-link:hover {
    color: #495057;
    background-color: whitesmoke;
    border-top: 0;
    border-left: 0;
    border-right: 0; }
  .form .nav-link.active {
    border-color: #3393d1 !important;
    background-color: whitesmoke !important;
    border-top: 0;
    border-left: 0;
    border-right: 0; }
  .form input, .form input:active, .form input:focus {
    border: 0; }

.form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px ridge #a8a9aa;
  outline: 0; }

.form-input, .register-input {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 5px; }

.register-input {
  margin-top: 25px; }

.title-login {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 30px; }

.forget-password {
  font-size: 12px;
  margin: 10px 0px 10px 0px;
  cursor: pointer; }

.btn-login {
  margin: 5px; }

.btn-register {
  margin-top: 20px; }

.btn-login-rsocias {
  margin: 10px;
  width: 25px;
  height: 25px;
  border: 0;
  background-size: 100%;
  /* To fill the dimensions of container (button), or */ }

.border-error {
  border-bottom: 1px ridge tomato !important; }

.border-success {
  border-bottom: 1px ridge #45c445 !important; }

input {
  background-color: whitesmoke; }

.container-cvq {
  padding-bottom: 10px; }

.feed-page .container-followed {
  padding: 0px 15px; }

.feed-page .input-search {
  margin: 20px 0; }

.feed-page .btns-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px; }
  .feed-page .btns-menu button {
    border: solid 1px #0000005e;
    margin: 0px;
    padding: 3px;
    border-radius: 3px; }
    .feed-page .btns-menu button img {
      width: 25px;
      height: 25px;
      margin-right: 5px; }
  .feed-page .btns-menu button:focus {
    outline: 0; }

.cvq-navbar {
  background-color: #3393d1; }

#publications {
  min-height: 500px; }

.item-publication .image-user {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px; }

.image-user img {
  width: 40px;
  margin-right: 5px; }

.item-publication .image-user img {
  width: 60px; }

.publication-body {
  margin-left: 10px; }

.user-name {
  margin-top: 10px; }

#publications .date {
  color: gray; }

.ml {
  margin-left: 10px; }

.padding-0 {
  padding-right: 0;
  padding-left: 0; }

.timeline-body {
  background-color: whitesmoke; }

#button-menu {
  padding: 18px;
  padding-left: 8px; }

.custom {
  margin: 5px 5px; }

.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px; }

.timeline .line {
  position: absolute;
  width: 4px;
  display: block;
  background: currentColor;
  top: 0px;
  bottom: 0px;
  margin-left: 30px; }

.timeline .separator {
  border-top: 1px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: .9em;
  margin-left: 30px; }

.timeline .line::before {
  top: -4px; }

.timeline .line::after {
  bottom: -4px; }

.timeline .line::before,
.timeline .line::after {
  content: '';
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: currentColor; }

.timeline .panel {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both; }

.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.timeline .panel .panel-heading.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px; }

.timeline .panel .panel-heading.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left; }

.panel-heading {
  background-color: #9fc8ee; }

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none; }

.timeline .panel-outline .panel-body {
  padding: 10px 0px; }

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
  display: none; }

.publication-text {
  font-size: 14px; }

.btn-xs {
  margin: 0;
  padding: 1px;
  font-size: 12px; }

.btn-publication {
  margin-left: 6px;
  color: white !important; }
