<div class="col-lg-10 ">
    <h3 class=""> {{title}}</h3>
    <!-- formulario de envio de recebidos-->
  
    <div class="people" *ngIf="messages">
        <!--lista de users-->
        <div *ngFor ="let message of messages" class="item-user">
            <div class="panel panel-default" *ngIf="message.emitter">
              <div class="panel-body">
                <div class="image-user pull-left">
                    <a href="#">
                      <img src="{{ url + 'get-image-user/' + message.emitter.image }}" *ngIf="message.emitter.image"/>
                      <img src="assets/user.png" class="avatar-default" *ngIf="!message.emitter.image"/>
                    </a>
                </div>
                <div class="user-name pull-left">
                  <a [routerLink]="['/perfil', message.emitter._id]" class="name-surname">
                      {{message.emitter.name + ' '+ message.emitter.surname}}
                  </a>
                  &nbsp;| &nbsp;
                  <span>{{message.emitter.nick}}</span>
                  &nbsp;| &nbsp;
                  <span class="date ">
                     {{ (message.created_at | amFromUnix) | amLocale: 'pt'| amTimeAgo}}
                  </span>
                  
                  
                  <p>
                      {{message.text}}
                  </p>
                </div>
              
              
            </div>
          </div>
        </div> 
        
        
  
  
  
         <!--paginação-->
           <ul class=" pagination pull-right">
              <li *ngIf=" page > 1">
                <a [routerLink]="['/mensagem/enviados', prev_page]">Anterior</a>
    
              </li> 
    
              <li *ngIf=" pages != page">
                  <a [routerLink]="['/mensagem/enviados', next_page]">Seguinte</a>
              </li> 
           
    
    
           </ul>
      </div>
  
  </div>