
<div class="fromdetail col-md-6 col-md-offset-1" *ngIf="question">
  <h4>
     Id: {{question._id}}
  </h4>

  <p class="text-primary">Pergunta: {{question.question}}</p>
  <p class="text-success">Resposta 1: {{question.answers[0]}}</p>
  <p class="text-danger">Resposta 2: {{question.answers[1]}}</p>
  <p class="text-danger">Resposta 3: {{question.answers[2]}}</p>
  <p class="text-danger">Resposta 4: {{question.answers[3]}}</p>

  <button type="button" class="btn btn-warning" (click)="editarQuestion()">
    Editar
</button>


<button type="button" class="btn btn-danger" (click)="deleteQuestion()">
    Eliminar
</button>


</div>

<!--div id="inseri-question">
    <form class="form-horizontal">
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Pergunta:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Inseri a pergunta">
        </div>
      </div>
  
      <br/>
  
      <div class="form-group has-success has-feedback">
        <label class="col-sm-2 control-label" for="inputSuccess">Opção correta</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputSuccess" placeholder="Inseri a opção correta">
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </div>
  
  
  
      <div class="form-group has-error has-feedback">
        <label class="col-sm-2 control-label" for="inputError">Opção 1</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputError" placeholder="Inseri a opção 1">
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
  
  
      <div class="form-group has-error has-feedback">
        <label class="col-sm-2 control-label" for="inputError">Opção 2</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputError" placeholder="Inseri a opção 2">
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
  
      <div class="form-group has-error has-feedback">
        <label class="col-sm-2 control-label" for="inputError">Opção 3</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputError" placeholder="Inseri a opção 3">
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
  
  
      <div class="row">
        <div class="">
          <label for="sel1">Seleciona a categoria:</label>
        </div>
        <div class="form-group">
          <div class="">
            <select class="form-control" id="sel1">
              <option>História</option>
              <option>Geografia</option>
              <option>Desporto</option>
              <option>Arte</option>
              <option>Entretenimento</option>
              <option>Aleatorio</option>
            </select>
          </div>
  
          <div class="">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </form>
  </div-->