<div class="col-lg-10 ">
  <h3 class=""> {{title}}</h3>

  <div class="alert alert-success" *ngIf="status == 'success'">
     Mensagem enviada, ver mensagens enviados <a [routerLink]="['/mensagem/enviados']"> aqui </a> para ir ao login.
    </div>
  
    <div class="alert alert-danger" *ngIf="status == 'error'">
       Não foi possivel enviar a mensagem!
      </div>

  <!-- formulario de envio de mensagem-->
  <form #formAdd="ngForm" (ngSubmit) = "onSubmit(formAdd)">
  <p>
      <label>Para:</label>
      <!-- listado de seguidores-->
      <select *ngIf="follows" name="receiver" #receiver="ngModel"
               [(ngModel)]="message.receiver" class="form-control" required>
               <option *ngFor="let follow of follows" value="{{follow.followed._id}}">
                 {{follow.followed.name + ' '+ follow.followed.surname + ' ('+ follow.followed.nick +')'}}
               </option>

      </select>
  </p>
  <p>
    <label>Mensagem</label>
    <textarea name="text" #text="ngModel" [(ngModel)] = "message.text" class="form-control" required>
      <span *ngIf="!text.valid && text.touched">
        Mensagem é obrigatório
      </span>

    </textarea>
  </p>

  <input type="submit" value="{{title}}" class="btn btn-success"/>

  </form>
</div>