
.wrapper {    
	margin-top: 40px;
}

  .custom {
   /* width: 200px !important;*/
    text-align: left !important;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

#menu{
 
 padding: 10px 10px 10px 10px;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
}

.test{
    text-align: center;
}



.headMenu{
    text-align:center;
    margin-bottom: 20px;
  }

  



