

<div class="container-fluid wrapper  " >
		
		<div class="container col-md-6 col-md-offset-3   col-xs-12"  id="menu">
				<h3 class="headMenu">Menu</h3> 
				
				<div class=" btn-group-vertical test col-md-6 col-md-offset-3  col-xs-12">
					
				<button class="btn btn-default custom "
				(click) = "playSingleMode()"
				#single > 
					<img src="..\assets\img\single.png" width="32" /> Novo 
				</button>
					
			
 
				<button class="btn btn-default custom"
				(click) = "playMultiplayerMode()"
				#mult >
					<img src="..\assets\img\mult.png" width="32" /> Multiplayer
				</button>
			
				<button class="btn btn-default custom"
				(click) = "play1vs1Mode()"
				#oneVSone >
					<img src="..\assets\img\1vs1.png" width="32" /> 1 VS 1
				</button>	
		
				<button class="btn btn-default custom"
				(click) = "ranking()"
				#rank>
					<img src="..\assets\img\ranking.png" width="32" /> Ranking
				</button>	
			
				<button class="btn btn-default custom"
				(click) = "setting()"
				#def>
					<img src="..\assets\img\setting.png" width="32" /> Configurações
				</button>		
			
				<button class="btn btn-default custom"
				(click) = "help()"
				#hel>
					<img src="..\assets\img\help.png" width="32" /> Ajuda
				</button>			
			
</div>
</div>

</div>




