<div *ngIf="mostrarErro" id="divErro" >
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  <span class="sr-only">(error)</span>
  <h5 class="alert alert-danger errorDiv" role="alert">
    {{ msgErro }}
  </h5>
</div>