iframe {
border:0;
}


.info{
    .info-text{
        text-align: center;
        font-size: 12px;
    }
    margin-bottom: 35px;

}

.sidebar-info{
    background-color: whitesmoke;
    margin-top: 5px;
    padding: 20px;

    .info-image img{
        width: 100%;
        height: 100%; 
    }
}

