.panel-feedinfo{
    min-height: 150px;
    background-color: whitesmoke;
}

.text-info{
    font-size: 11px; 
    text-align: center; 
    padding: 5px;
    cursor: pointer;
}

.img-content {
    width: 100%; /* I took the width from your post and placed it in css */
    height: 70%;
 }
 
 /* This will style any <img> element in .parent div */
 .img-content img {
    height: 50%;
    width: 90%;
    margin: auto;
 }

 .feedinfo{
    background-color: whitesmoke;
    margin-left: 5px;
 }

 .img-modal, .video-modal{
     width: 100%;

 }

 .video-modal{
    min-height: 300px;
 }

 .modal-body{
     min-height: 250px;

 }

 .text-modal{
    padding: 10px;
 }
