
<div class="col-md-12  feedinfo">
  <div *ngFor=" let info of feedInfoShow">
    
    
      <div class="panel-body panel-feedinfo col-md-12">
      
              <div *ngIf="info.type=='video'" class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" [src]="info.file | safe" allowfullscreen></iframe>

                      <!--object data="{{info.file}}"
                        width="560" height="315"></object-->
                        
                  
              </div>

              <div *ngIf="info.type=='img'" class="img-content text-center">
                  <img src="{{ url + 'get-img-feedinfo/' + info.file}}" class="" alt="Responsive image">
              </div>

              <div class="text-info" data-toggle="modal" [attr.data-target]="'#' + info._id" >
                  {{info.text}}
              </div>


              <div class="modal fade" [attr.id]="info._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                              <h5 class="modal-title" id="exampleModalLabel">{{info.text}}</h5>
                              
                            </div>

                            <div *ngIf="info.type=='img'" class="modal-body">
                                        <img src="{{ url + 'get-img-feedinfo/' + info.file}}" class="img-modal" alt="Responsive image">
                            </div>

                            <div *ngIf="info.type=='video'" class="modal-body">
                                <iframe class="embed-responsive-item" [src]="info.file | safe"  class="video-modal" allowfullscreen></iframe>
           
                            </div>
                            <!--p class="text-modal">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ~
                                        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>

                            <p class="text-modal">
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                         their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.   
                            </p-->
                           
                          </div>
                        </div>
                      </div>

      </div>

     <!--div >  
        <div class="panel-body panel-publicity col-md-12 ">
                <div class="img-content text-center">
                    <img src="info.file" class="" alt="Responsive image">
                </div>
                <div class="text-info">
                                {{info.text}}
                </div>
        </div>
      </div-->    

    <!--div class="panel-body panel-publicity col-md-12">
                  
            <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JKCAKaXux64" allowfullscreen></iframe>
            </div>
            <div class="text-info">
                    Dez razões para descobrir uma das ilhas mais turísticas de Cabo Verde.
            </div>
    </div-->

  </div>

</div>
