<div id="publications">

    <div class="alert alert-success" *ngIf="status == 'success'">
       Publicação enviada com sucesso
       </div>
     
    <div class="alert alert-danger" *ngIf="status == 'error'">
          Erro na publicação
    </div>

    <div *ngFor=" let publication of publications" class="item-publication">
        <div class="container">
          <div class="">
              <div class="image-user pull-left">
                  <a href="#">
                    <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image"/>
                    <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image"/>
                  </a>
              </div>
              <div>
                <span class="user-name"> {{publication.user.name + ' '+ publication.user.surname}} </span>
                &nbsp;| &nbsp;
                <span class="date">
                   {{ (publication.created_at | amFromUnix) | amLocale: 'pt'| amTimeAgo}}
                </span>
              </div>    
            <div class="publication-text pull-left ">
              {{publication.text}}
            </div>

            <div class="" *ngIf="publication.file">
              <img src="{{ url + 'get-image-pub/' + publication.file }}" />
            </div>
        </div>
    </div>
  </div>

  <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
      <p>
          <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore"> 
              Ver mais publicações
          </button>
      </p>
       
    </div>