<div class="my-container">
<div class="row" *ngIf="isCreate" >

    <div class="col-md-3 padding-0" >

            <div id="button-menu" class="col-lg-12 container"  >

                    <!--div class=" btn-group-vertical col-md-8 col-md-offset-2  col-xs-12 "-->
                    <a class=" btn btn-default btn-xs custom "
                            [routerLink]="['/category']" > 
                                      <img src="..\assets\icon\play.png" width="25" /> Jogar
                    </a>
                                      
                    <a class=" btn btn-default btn-xs custom"
                            [routerLink]="['/ranking']" >
                                <img src="..\assets\img\ranking.png" width="25" /> Ranking
                     </a>	
                              
                    <a class="  btn btn-default btn-xs custom"
                          [routerLink]="['/setting']" >
                              <img src="..\assets\img\setting.png" width="25" /> Definições
                    </a>		
                      
                    
                  
                  </div>
        <users></users>
    </div>


    <div class="col-md-7 padding-0 timeline-geral" >
        <!--h2 class="h1-strong"> {{title}}
            <button class="btn btn-success btn-sm pull-right" (click)="refresh($event)">
                Mostrar novas
            </button>
        </h2-->


        <!--div id="button-menu" class="col-lg-12 container" >

            <a class=" btn btn-default btn-xs custom "
                    [routerLink]="['/menu']" > 
                              <img src="..\assets\img\single.png" width="25" /> Novo
            </a>
                              
            <a class=" btn btn-default btn-xs custom"
                    [routerLink]="['/ranking']" >
                        <img src="..\assets\img\ranking.png" width="25" /> Ranking
             </a>	
                      
            <a class="  btn btn-default btn-xs custom"
                  [routerLink]="['/setting']" >
                      <img src="..\assets\img\setting.png" width="25" /> Configurações
            </a>		
              
            
          
          </div-->





        <div class="container timeline-body col-md-12">

            <!-- Page header -->
            <!--div class="page-header">
            <h2>Timeline </h2>
        </div-->
            <!-- /Page header -->

            <!-- Timeline -->
            <div class="timeline">

                <!-- Line component -->
                <div class="line text-muted"></div>

                <!-- Separator -->

                <!-- /Separator -->

                <!-- Panel -->
                <article class="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        <strong>Pedro Tavares</strong> começou a seguir-te.
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article *ngFor=" let publication of publications" class="panel panel-default panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <!--i class="glyphicon glyphicon-picture"></i-->
                        <img class=" icon img-responsive img-rounded" src="..\assets\icon\historia.png" *ngIf="publication"
                        />
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        <!--img class="img-responsive img-rounded" src="//placehold.it/350x150" /-->
                        <div class="image-user pull-left">
                            <a [routerLink]="['/perfil', publication.user._id]">
                                <img class=" icon img-responsive img-rounded" src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image"
                                />
                                <img class="icon img-responsive img-rounded" src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image"
                                />
                            </a>
                        </div>


                        <div class="publication-body pull-left">

                            <div>
                                <a #pub class="user-name" [routerLink]="['/perfil', publication.user._id]">
                                    {{publication.user.name + ' '+ publication.user.surname}}
                                </a>
                                &nbsp;| &nbsp;
                                <span class="date ">
                                    {{ (publication.created_at | amFromUnix) | amLocale: 'pt'| amTimeAgo}}
                                </span>
                                <a class="btn btn-info btn-xs" (click)="chanlenge(publication._id)">
                                    <!--span class="glyphicon glyphicon-play-circle"></span-->
                                    Jogar
                                </a>

                                <a class="btn btn-warning btn-xs" (click)="chanlenge(publication._id)">
                                    <!--span class="glyphicon glyphicon-play-circle"></span-->
                                    Duelo
                                </a>

                            </div>
                            <h6 class="publication-text pull-left ">
                                {{publication.text}}
                            </h6>

                        </div>
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
               

                <!-- Separator -->
                <div class="separator text-muted">
                    <time>25. 3. 2015</time>
                </div>
                <!-- /Separator -->




                <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
                    <p>
                        <button class="btn btn-success btn-xs" (click)="viewMore()" *ngIf="!noMore">
                            Ver mais publicações
                        </button>
                    </p>
            
                </div>

            </div>
            <!-- /Timeline -->
           

        </div>

       
    

    </div>

    <div class="col-md-2 padding-0 ">
            <feedinfo></feedinfo>
        </div>

</div>














<!--publications></publications-->
<!--div id="publications">
        <div class="alert alert-success" *ngIf="status == 'success'">
            Publicação enviada com sucesso
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
            Erro na publicação
        </div>

        <div *ngFor=" let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a [routerLink]="['/perfil', publication.user._id]">
                            <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image" />
                            <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image" />
                        </a>
                    </div>
                    <div>
                        <a class="user-name" [routerLink]="['/perfil', publication.user._id]">
                            {{publication.user.name + ' '+ publication.user.surname}}
                        </a>
                        &nbsp;| &nbsp;
                        <span class="date ">
                            {{ (publication.created_at | amFromUnix) | amLocale: 'pt'| amTimeAgo}}
                        </span>
                    </div>
                    <h4 class="publication-text pull-left ">
                        {{publication.text}}
                    </h4>

                    <a class="btn btn-primary pull-right ml btn-sm" (click)="chanlenge(publication._id)">
                        <span class="glyphicon glyphicon-play-circle"></span>

                    </a>
                    <div class="pull-right" *ngIf="publication.user._id == identity._id ">

                        &nbsp;
                        <!-- Button HTML (to Trigger Modal) >
                        <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger btn-sm" data-toggle="modal" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>




                        <!-- Modal HTML ->
                        <div id="myModal{{publication._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Tens a certeza que pretende eliminar a publicação?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Se apagares não poderá recuperá lá</p>
                                        <p class="text-warning">
                                            <small>{{publication.text}}</small>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePublication(publication._id)">Eliminar a publicação</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="pull-right" *ngIf="publication.file  ">
                        <button class="btn btn-warning pull-right btn-sm" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-picture"></span>
                        </button>

                        <button class="btn btn-danger pull-right btn-sm" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>

                    </div>

                    <div class="col-lg-12">
                        <div class="" *ngIf="publication.file  && showImage == publication._id ">
                            <br/>
                            <img src="{{ url + 'get-image-pub/' + publication.file }}" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                Ver mais publicações
            </button>
        </p>

    </div>

</div>
-->

</div>