
<div class="container col-md-6 col-md-offset-3 text-center  col-xs-12 containerpnf" >
 
  <img id="pagenotfound" src="..\..\..\assets\img\pagenotfound.png"  /> 
 
  <div class=" ">
     <a class="btn btn-primary" [routerLink]="['/timeline']"> Voltar a página inicial</a>
  </div>
   
</div>
