<div class="col-lg-4 sidebar-32" >
  <h1 class="h1-strong"> Meus Dados</h1>
</div>
<div id="user-card" class="col-lg-4 panel panel-default pull-left" >
  <div class="avatar pull-left"> 
    <img src="{{ url + 'get-image-user/' + identity.image}}" *ngIf ="identity && identity.image"/>
    <img src="assets/user.png" class="avatar-default" *ngIf="!identity || !identity.image"/>
  </div>

  <div class="name-surname pull-left">
    <a [routerLink]="['/perfil', identity._id]" class="username">
      {{ identity.name + ' '+ identity.surname}}
    </a>
    <p class="nickname">{{identity.nick}}</p>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

  <div class="stats" *ngIf="stats"> 
    <div class="following-data">
      <a [routerLink]="['/seguindo', identity._id,1]">
        <span class="label-stats">
          Seguindo
        </span>

        <span class="number-stats">
          {{stats.following}}
          
        </span>
      </a>
    </div>

    <div class="following-data">
      <a [routerLink]="['/seguidores', identity._id,1]">
        <span class="label-stats">
          Seguidores
        </span>

        <span class="number-stats">
          {{stats.followed}}
        </span>
      </a>
    </div>

    <div id="div-jogos"class="following-data">

      <a [routerLink]="['/perfil', identity._id]">
        <span class="label-stats">
          Jogos
        </span>

        <span class="number-stats">
          {{stats.publications}}
        </span>
      </a>
    </div>

    <div id="div-publication"class="following-data">

      <a [routerLink]="['/perfil', identity._id]">
        <span class="label-stats">
          Pub
        </span>

        <span class="number-stats">
          {{stats.publications}}
        </span>
      </a>
    </div>
  </div>

</div>

<!--btns-->
<div id="button-menu" class="col-lg-4 panel panel-default pull-left" >

  <!--div class=" btn-group-vertical col-md-8 col-md-offset-2  col-xs-12 "-->
  <a class="btn btn-default custom "
          [routerLink]="['/menu']" > 
					<img src="..\assets\img\single.png" width="32" /> Novo
  </a>
					
        <a class="btn btn-default custom"
        [routerLink]="['/ranking']" >
					<img src="..\assets\img\ranking.png" width="32" /> Ranking
      </a>	
			
				<a class="btn btn-default custom"
        [routerLink]="['/setting']" >
            <img src="..\assets\img\setting.png" width="32" /> Configurações
      </a>		
  <!--/div-->      
  

</div>

  <!--formulario de publicações-->
<div id="new-publication" class="col-lg-4 panel panel-default pull-left" >

      
  <form #newPubForm="ngForm" (ngSubmit)="onSubimit(newPubForm, $event);" class="col-lg-10" >
      <div class="alert alert-success" *ngIf="status == 'success'">
          Publicação enviada com sucesso!
        </div>
      
      <div class="alert alert-danger" *ngIf="status == 'error'">
         Publicação não enviada!
      </div>

    <p>
      <label> Faça uma publicação!</label>
      <textarea name="text" #text="ngModel" [(ngModel)] = "publication.text" class="form-control" required>
      </textarea>
      <span *ngIf="!text.valid && text.touched">
        O texto da publicação é obrigatório!
      </span>

    </p>
    <p>
      <label> Imagem</label>
      <input type="file" placeholder="Enviar imagem" (change)="fileChangeEvent($event)"/>
    </p>

    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid"/>
  

  </form>
</div>