#user-card, #new-publication{
    width: 30%;
    padding: 25px;
    /*margin-top: 75px;*/
}

#new-publication{
    padding: 18px;
    padding-left: 8px;

}


#button-menu{
    padding: 18px;
    padding-left: 8px;

}


#user-card .avatar{
    width:55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px; 
}

#user-card .avatar img {
    width: 100%;
}

.sidebar-32{
    width: 32%!important;
    padding: 0px !important;

}



#user-card  .name-surname{
 font-weight: 300px;
 font-size: 17px;
}

#user-card  .name-surname a{
    color: #555;
   }

   #user-card  .name-surname .nickname{
    color: #969393;
   }

   #user-card .label-stats,  #user-card .number-stats {
    display: block;
    text-align: center;
    transition: all 300ms;
   }

   #user-card .label-stats{
       font-weight: bold;
       color: #555;
   }

   #user-card .stats a:hover{
        text-decoration: none;
   }
   #user-card .following-data{
       float: left;
       padding-left: 18px;
       padding-right: 18px;
       margin-top: 20px;
       border-right: 2px solid #eee !important;
   }

   #user-card .following-data:first-child{
    padding-left: 6px !important;
}
   #user-card .following-data:last-child{
       border: none !important;
   }

   #user-card .stats{
        border-top: 1px solid #eee;
        margin-top: 10px;
   }

   #user-card .stats a:hover .number-stats{
    color:green;
}

   #user-card .number-stats{
   font-weight: bold;
  
}

/*
.custom {
   
     text-align: left !important;
     margin: 10px 0px 10px 0px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     
 }
 */
 