
<h1>Admin</h1>
<div class="row">
    
      <div id="listboxCateGolbal" class="container col-md-12" >
    
        <div>
          <div class="col-md-2">
            <label for="sel1">Seleciona a categoria:</label>
          </div>
          <div class="form-group">
            <div class="col-md-3 ">
              <select class="form-control" id="sel1"  (change) = "changeSelect(select)"  #select>
                  <option value="Historia">História</option>
                <option>Geografia</option>
                <option>Desporto</option>
                <option>Arte</option>
                <option>Entretenimento</option>
              </select>
            </div>
          </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="createQuestion()">
                Nova Pergunta
            </button>

            
      </div>

      
  </div>

<div class="container col-md-5">
       
    <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Question</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" *ngFor="let question_ of questions; let i = index" [attr.data-index]="i" 
            id="{{question_.id}}" >
             
            <td>
                <a routerLink="./question/{{category}}/{{question_._id}}">
                    {{i+1}}
                </a>
            </td>
            <td>
                <a routerLink="./question/{{category}}/{{question_._id}}">
                  {{question_.question}}
                </a>
            </td>
          </tr>
        
    
        </tbody>
      </table>
    </div>
    <!--div class="row">
        <div class="col-md-2">
            <input type="text"  #option2Input  class="form-control " id="inputError1" placeholder="Inseri id">
            <span class="glyphicon glyphicon-search  form-control-feedback"></span>
           
          </div>
          <button type="button" class="btn btn-primary col-md-1" (click)="sd">
              Procurar
          </button>
        </div-->

<div class="container">
  <router-outlet></router-outlet>
</div>

