/* You can add global styles to this file, and also import other style files */

.h1-strong{
    font-size: 35px;
    font-weight: bold;
   /* margin-left: 13px;*/
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.navigation{
    padding: 0px !important;
}

.navigation .navbar{
    border-radius: 0px !important;
    border: none;
    background: #67A1F8 !important;
}


.navigation .navbar *{
    color:white !important;
}

.active{
    background: rgb(143, 182, 240);
}

.navigation .navbar a:hover{
    background: rgb(43, 58, 58) !important;
}

.navigation .navbar .dropdown-menu *{
    color: black !important;
} 


/*.navigation .dropdown.open{
    background: #8aa7c5;
} */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
    background: #8aa7c5 !important;
} 

.navigation .navbar .dropdown-menu  a:hover{
    background: #8aa7c5 !important;
}

.pointer{
    cursor: pointer;
}

.my-container{
    /*max-width: 1200px;*/
    margin: 20px 20px;
}



