<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
      <h2 > {{title}}</h2>
      <p>
        Teste o seu conhecimento sobre Cabo Verde, compartilhe os resultados dos jogos e vê o resultados dos seus amigos.
      </p>

      <p>
        <a [routerLink]="['/perfil', identity._id]" class="btn btn-success btn-lg" role="button">
          Perfil
        </a>

        <a [routerLink]="['/timeline']" class="btn btn-primary btn-lg" role="button">
          Timeline
        </a>

        <a [routerLink]="['/users']" class="btn btn-default btn-lg" role="button">
         Amigos
        </a>

        <a [routerLink]="['/mensagem/recebidos']" class="btn btn-info btn-lg" role="button">
          Mensagens
         </a>

      </p>
    </div> 
</div>
<div class="col-lg-12 ">
  <menu></menu>
  </div>