
.navigation .avatar{
    width:28px;
    height: 28px; 
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px; 
}

.navigation .avatar img{
    height: auto;
    width: 30px;
    margin-left: -15px;
    margin-top: -22px;
    
}

.badge-timeline{
    background-color: rgb(255, 142, 142);
    font-size: 9px;
    vertical-align: top;
}
