.wrapper {    
  margin-top: 40px;
 
}

  .custom {
    width: 200px !important;
    margin: 10px 0px 10px 0px;
    text-align: center;  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
}

.li-setting{
  background-color: whitesmoke; 
}
#menu{
  width: 420px;
 padding: 10px 10px 10px 10px;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1); 
  
  
 
}

.item-title{
  text-align: center;
  font-weight: bold;
}

.headMenu{
    text-align:center;
    margin-bottom: 20px;
  }
