
.awards{
    margin-top: 60px;
}
.panel-awards{
    
    margin: 10px;
    background-color: rgb(141, 176, 241);

}

.statistic-body{
    padding: 8px;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    color:  rgb(104, 150, 236);
}

.statistic-title{
    color: white;
    font-size: 20x;
    text-align: center;
    font-weight: bold;
}

.item-value{
    text-align: center;
}
.timed{
    min-height: 55px;
}

.multiplayer{
    min-height: 100px;
}

.classic{
    min-height: 120px;
}